html {
  scroll-behavior: smooth;
}

/*Переменные*/
:root {
  --button-primary-color: #2196f3;
  --logo-first-color: #2196f3;
  --black-logo-color: #212121;
  --logo-white-color: #ffffff;
  --text-grey-color: #757575;
  --button-background-color: #f5f4fa;
  --footer-backgroung-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --command-backgroung-color: #f5f4fa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-logo-color);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.section {padding-top:  94px;
padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.main-nav {display: flex;
  align-items: center;
}
.header {border-bottom: solid 1px;
color: #ececec;}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*HEADER sections*/

.nav {display: flex;
}

.logo {
   font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-first-color);
}
.logo-span {
  color: var(--black-logo-color);
}
.nav-list {display: flex;
}

.nav-list li {
}

.nav-list .nav-item + .nav-item {margin-left: 50px;}

.nav-item { }
.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-logo-color);
  
}
.nav-link:focus,
.nav-link:hover {
  color: var(--button-primary-color);
}
.current {
  background-color: var(--logo-white-color);
  color: var(--button-primary-color);
}
.nav-contact {
  display: flex;
  margin: 0px;
  margin-left: auto ;
}
.nav-contact-item {
}
.nav-contact .nav-contact-item+.nav-contact-item {margin-left: 50px;}

.nav-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-grey-color);
}
.nav-contact-link:focus,
.nav-contact-link:hover {
  color: var(--button-primary-color);
}
.hero-section {
  background-color: var(--footer-backgroung-color);
   text-align: center;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--logo-white-color);
}

.primary-button {
  display: inline-block;
  width: 200px;
  height: 50px;
  font-family: Robota, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--logo-first-color);
  color: var(--logo-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.primary-button:focus,
.primary-button:hover {
  background-color: var(--logo-white-color);
  color: var(--button-primary-color);
}

/*Reasons sections*/
.reasons {
  padding: 0px;
  margin: 0px;
}
.reasons-list {
  display: inline-block;
  display: flex;
  margin-top: 94px;
}
.reasons-item {
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-logo-color);
}
.reasons-text {
  display: inline-block;
  width: 270px;
  height: 75px;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
}
.reasons-item .reasons-text+.reasons-text {margin-left: 30px;}

/*Specific sections*/
.specific {
}
.specific-title {
}
.specific-list {
  display: flex;
}
.specific-list .specific-item + .specific-item {margin-left: 30px;}
.specific-item {
}
/*Command Sections*/
.command {
}
.command-title {
}
.command-list {
}
.command-item {
}
.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-logo-color);
}
.command-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/*MAIN PORTFOLIO SECTION*/
.work {
}
.work-list {
}
.work-item {display: inline-block;
  

}
.work-button {
  color:var(--black-logo-color)
  background: var(--command-backgroung-color)
  border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
}
.work-button:focus,
.work-button:hover {color:var(--logo-white-color);
  background-color:var(--logo-first-color);
}
.button {
    border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
}
.gallery-list {
}
.gallery-item {
}
.gallery-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--black-logo-color)
}
.text-gallery { 
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}
/*Footer sections*/
.footer {
  background-color: var(--footer-backgroung-color);
}
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--button-primary-color);
}
.span-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-white-color);
}
.address {
}
.adress-list {
}
.adress-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-white-color);
}
.adress-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--button-primary-color);
}
